body{
    background: url('./../images/bg.jpg');
    background-size: cover;
    background-position: center center;
}
.wrap{
    width: 100vw;
    height: 100vh;
}
.keyboards{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.key{
    transition: all 0.3s ease-out;
    font-size: 20px;
    color: rgb(197, 240, 8);
    background: #ffffff88;
    border: 2px solid rgb(197, 240, 8);
    padding: 10px 30px;
    border-radius: 4px;
    margin: 0 20px;
}
.key.now-playing{
    font-size: 60px;
    transform: rotate(720deg);
}